.content__container {
	display: flex;
	margin-bottom: 50px;

	@media screen and (max-width: 992px) {
		flex-direction: column;
	}

	.nda__aside {
		width: 100%;
		max-width: 377px;
		margin-right: 40px;

		@media screen and (max-width: 992px) {
			display: contents;
		}
	}
}// /.content__container